
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.my-projects-main-image {
    height: 200px;
    width: 200px;
}

.my-projects-card {
    text-align: center;
}

.my-projects-main-heading {
    font-size: 35px;
    color: #183b56;
}

.my-projects-description {
    color: #616e7c;
}

.my-projects-image {
    height: 150px;
    width: 230px;
    margin: 20px;
    border-radius: 4px;
}

.tech-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/arvrbg.png");
    background-size: cover;
    height: 100vh;
}

.tech-card {
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 20px;
}

.tech-card-heading {
    color: #5752ab;
    font-size: 30px;
    font-family: 'Bree Serif';
}

.tech-card-description {
    color: #323f4b;
    font-family: 'Roboto';
}

.tech-button {
    border-color: #d7dfe9;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    width: 126px;
    height: 38px;
    margin-left: 5px;
    margin-right: 5px;
}

.button-color-1 {
    background-color: #ffffff;
    color: #171f46;
}

.button-color-2 {
    background-color: #5752ab;
    color: #ffffff;
}

.Foundations-bg-container {
    background-image: url("https://assets.ccbp.in/frontend/static-website/foundations-bg.png");
    background-size: cover;
    height: 100vh;
    font-family: 'Roboto';
}

.Foundations-card {
    background-color: white;
    text-align: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.PL-image {
    height: 70px;
    width: 70px;
    text-align: center;
    margin-left: 1px;
}

.PL-card {
    margin: 20px;
    border-width: 2px;
    border-color: #cbd2d9;
    padding: 15px;
    text-align: center;
}

.Foundations-heading {
    margin-top: 30px;
}

.diwali-top-section {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/diwali-bg.png");
    height: 30vh;
    background-size: cover;
}

.diwali-top-section-heading {
    color: white;
    font-family: "Caveat";
    font-size: 36px;
    width: 200px;
    padding: 20px;
}

.diwali-bottom-section {
    text-align: center;
    background-color: #e6f6ff;
    padding: 15px;
}

.diwali-card-item {
    text-align: center;
    background-color: white;
    width: 140px;
    border-radius: 9px;
    padding: 16px;
    margin: 35px;
    margin-left: 80px;
    margin-right: 80px;
}

.diwali-card-image {
    height: 64px;
    width: 64px;
}

.diwali-card-name {
    color: #616e7c;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: normal;
}

.diwali-card-price {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
}

.foodorder-image {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/foodbg.png");
    height: 100vh;
    background-size: cover;
}

.foodorder-card {
    background-color: #f6c56e;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 30px;
    color: #323f4b;
}

.main-heading {
    font-family: "Bree Serif";
}

.paragraph {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: bold;
}

.button1 {
    font-family: "Roboto";
}

.news-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/newsbg.png");
    height: 100vh;
    background-size: cover;
}

.news-card {
    background-color: white;
    font-family: 'Roboto';
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 25px;
}


.news-card-light-heading {
    color: #7b8794;
    font-size: 12px;
}

.news-card-main-heading {
    color: #323f4b;
    font-size: 18px;
    font-weight: 500;
}

.news-description {
    color: #7b8794;
    font-size: 12px;
}

.news-button {
    background-color: #323f4b;
    color: white;
    font-size: 12px;
    font-weight: 500;
    width: 109px;
    height: 38px;
    border-width: 0px;
    border-radius: 8px;
}

.home-page-bg-container {
    font-family: 'Roboto';
    padding: 10px;
    text-align: center;
}

.image {
    background-size: cover;
    height: 400px;
    width: 500px;
    padding: 30px;
}

.home-main-heading {
    font-weight: 500;
    color: #183b56;
    margin: 20px;
}

.home-page-card {
    text-align: center;
    margin-top: 20px;
}

.home-page-description {
    color: #5a7184;
    margin: 30px;
}

.details-page-bg-container {
    font-family: 'Roboto';
    text-align: center;
    padding: 10px;
}


.button {
    text-align: center;
}

.details-page-sub-card {
    margin: 25px;
    text-align: center;
}

.sub-heading {
    color: #183b56;
    font-size: 25px;
    font-weight: 600;
}

.sub-description {
    color: #5a7184;
}

.details-page-main-description {
    color: #5a7184;
}

.details-page-main-heading {
    color: #183b56;
    font-size: 30px;
    font-weight: 600;
    margin-top: 15px;
}


.button {
    margin-bottom: 15px;
}

.covid-bg-container {
    font-family: 'Roboto';
    color: #ffffff;
}

.covid-first-card {
    padding: 15px;
}

.covid-first-card-heading {
    font-size: 20px;
    font-weight: 100;
    color: #707070;
}

.covid-card-container {
    background-color: #0967d219;
    margin: 20px;
    border-radius: 15px;
}

.covid-image {
    height: 56px;
    width: 56px;
    margin-top: 63px;
}

.covid-card-heading {
    color: #323f4b;
    font-size: 20px;
    font-weight: 500;
}

.padding-heading-p {
    padding: 50px;
}

.covid-card-description {
    color: #707070;
    font-weight: 500;
}

.covid-sub-heading {
    color: #707070;
    font-size: 20px;
    margin-left: 20px;
    text-align: center;
}

.symptoms-card {
    padding: 15px;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    margin: 18px;
}

.cough-card-colour {
    background-color: #3ebd93;
}

.fever-card-color {
    background-color: #e668a7;
}

.headache-card-color {
    background-color: #a368fc;
}

.symptoms-card-description {
    color: #ffffff;
    font-size: 12px;
    padding: 5px;
    text-align: center;
}

.covid-card-container-bottom {
    background-color: #e12d3919;
    margin: 20px;
    border-radius: 15px;
}

.button2 {
    background-color: #0967d2;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    height: 30px;
    width: 90px;
    border-width: 0;
    border-radius: 5px;
    font-family: 'Roboto';
    text-align: center;
    padding: 6px;
    margin-left: 10px;
}

.color-white {
    color: white;
}

.button3 {
    text-align: center;
    margin: 8px;
}

.goa-bg-container {
    font-family: 'Roboto';
}

.goa-heading {
    color: #323f4b;
    font-size: 30px;
    font-weight: 400;
}

.goa-about-card {
    padding: 30px;
}

.goa-heading {
    text-align: center;
    font-size: 40px;
}

.goa-about-description {
    color: #9aa5b1;
}

.goa-pictures-card {
    padding: 30px;
}

.goa-pictures-margin {
    margin: 7px;
}

.goa-video-properties {
    margin: 7px;
    border-radius: 10px;
    height: 100px;
    width: 100px;
}

.goa-videos-card {
    padding: 30px;
}

.carouselpadding {
    padding: 170px;
    margin: 0px;
}

.shoping-bg-container {
    background-color: #894bca;
}

.main-heading {
    color: white;
}

.top-image {
    height: 200px;
    margin-left: 0px;
}

.top-card {
    padding-bottom: 10px;
    padding-top: 20px;
    margin-left: 0px;
}

.main-heading {
    padding: 30px;
}

.select-options-heading {
    color: #f780c3;
    padding: 30px;
}

.bottom-card {
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.logos {
    height: 70px;
}

.website-information {
    margin-left: 20px;
}

.Website-container {
    margin: 20px;
}

.shopping-website {
    font-size: 30px;
}
